@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@200;300;400;600&family=Roboto:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* Root */

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background: #2C2F38;
    --primary: #4679B4;
    --secondary: #4679B4;
    --secondary-hover: #396291;
    --tertiary: #454B59;
    --tertiary-hover: #353A45;
    --accent1: #CFD6E8;
    --accent1-hover: #C4CADB;
    --accent2: #76BDB5;
    --transition: 0.2s ease-in-out;
    --text-color-main: #1E1E1E;
    --focus-outline: rgba(145, 171, 207, 0.6);
    --border-radius-sm: 5px;
    --border-radius-md: 15px;
    --border-radius-lg: 30px;
    --font-main: "Inria Sans", sans-serif;
    --px: 3rem;
    --py: 5rem;
    --py2: 1rem;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 2.5rem;
    font-family: var(--font-main);
    font-weight: 300;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    color: #DDE1ED;
    overflow-x: hidden;
    background-color: var(--background);
}

/* Typography */

h2 {
    font-size: 4.5rem;
}

.fa-centered-heading {
    font-size: 6rem;
    text-align: center;
    width: 100%;
}


/* Layout Elements */

/* Typography */

a {
    color: var(--accent2);
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: var(--primary);
}

h3,
h3.wp-block-heading {
    color: #89AEB2;
    position: relative;
    line-height: 1.3;
}

h3:after {
    content: "";
    height: 3px;
    width: 100px;
    border-radius: 10px;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    bottom: -1.2rem;
}

.section-with-bg h3:after {
    left: var(--px);
    bottom: -0.5rem;
}

/* Main Container */

.container {
    width: 100%;
    margin: auto;
}

.entry-content>*,
.entry-content .wp-block-columns {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 var(--px);
}

.page-content-container {
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.site-main .entry-content {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 0;
}

/* Hero */

.hero {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
}

.hero-content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.hero-content>p {
    display: flex;
    flex-direction: column;
    font-size: 4.5rem;
    padding: 0;
    margin: 0;
}

.hero-content span,
.hero-page h1 {
    background-color: rgba(44, 47, 56, 0.8);
    width: fit-content;
    padding: 0rem 1.5rem;
    line-height: 1.4;
}

.hero-page {
    height: 400px;
    padding: 0;
}

.hero-page h1 {
    font-size: 7rem;
    color: #ffffff;
    position: relative;
    text-align: center;
}

.color-overlay-50,
.color-overlay-20 {
    width: 100%;
    height: 100%;
}

.color-overlay-20 {
    background-color: rgba(44, 47, 56, 0.2);
}

.color-overlay-50 {
    background-color: rgba(44, 47, 56, 0.5);
}

/* Navbar - Header */

/* Sticky nav - needs work, isn't full width yet */
/* .navbar-container {
    background-color: var(--background);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 5px solid var(--tertiary);
} */

.navbar-container {
    width: 100%;
    max-width: 1400px;
}

.navbar-femart {
    padding: 1rem var(--px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    list-style-type: none;
}

nav ul {
    padding: 0;
}

nav li a {
    position: relative;
    transition: var(--transition);
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: normal;
}

nav li a:hover {
    color: #ffffff;
}

nav li:not(.menu-item-has-children, .sub-menu li) a:not(.btn)::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    height: 4px;
    background: var(--primary);
    transform: scaleX(0);
    border-radius: 5px;
    margin-top: -2px;
    transition: transform var(--transition);
}

nav ul:not(.sub-menu) li a:not(.btn):hover::after {
    transform: scaleX(1);
}

li.menu-item-has-children {
    margin-right: 1rem;
}

li.menu-item-has-children::before {
    content: "▼";
    position: absolute;
    right: -2.2rem;
    top: 0.9rem;
    font-size: 1.8rem;
    font-stretch: ultra-expanded;
    font-family: "Arial", sans-serif;
    color: var(--tertiary);
}

#menu-item-50 a {
    display: block;
    background-color: var(--secondary);
    border-radius: var(--border-radius-sm);
    padding: 0.5rem 2rem;
}

#menu-item-50 a:hover {
    background-color: var(--secondary-hover);
}

#menu-item-50 a:hover::after {
    display: none;
}

.header-logo {
    width: 33%;
    max-width: 150px;
}

.header-logo img {
    max-width: 100%;
}

ul.sub-menu {
    display: block;
    position: absolute;
    transform: scaleY(0);
    transform-origin: 0 0;
    width: 16ch;
    transition: var(--transition);
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    z-index: 10;
    background-color: var(--accent1);
    color: #000000;
    list-style-type: none;
    padding: 0;
    margin-top: 0rem;
    border-radius: var(--border-radius-sm);
}

li.menu-item-has-children {
    position: relative;
}

li.menu-item-has-children:hover>ul.sub-menu {
    position: absolute;
    display: block;
    transform: scaleY(1);
}

ul.sub-menu li {
    padding: 1rem 2rem;
    border-bottom: 1px dotted var(--primary);
}

ul.sub-menu li:last-of-type {
    border-bottom: none;
}

ul.sub-menu a {
    color: #000000;
    display: block;
    width: 100%;
    height: 100%;
}

nav ul.sub-menu li a:hover {
    color: #000000;
}

ul.sub-menu li:hover {
    background-color: var(--accent1-hover);
}

ul.sub-menu a:hover::after {
    display: none;
}

/* Background Section (Maybe make this a plugin?) */

.section-with-bg {
    position: relative;
    background-color: var(--tertiary-hover);
    width: 100%;
    max-width: 100% !important;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.entry-content .section-with-bg>* {
    width: 100%;
    padding: 1rem var(--px);
    max-width: 1400px !important;
    margin: auto;
}

/* Footer */

footer.page-footer {
    background-color: var(--tertiary);
    padding: var(--py);
}

footer.page-footer>* {
    flex: 1;
}

.footer-content {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin: auto;
}

.footer-logo {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.footer-logo .header-logo {
    width: 250px;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.footer-text-block {
    max-width: 200px;
    margin-left: 20px;
}

/* Navbar - Footer */

.footer-nav {
    display: flex;
    justify-content: center;
}

.footer-nav .widget-title {
    display: none;
}

.footer-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 0.5rem 3rem;
    list-style-type: none;
}

.footer-nav li {
    line-height: 1.3;
}

/* Footer Social Links */

.footer-socials {
    display: flex;
    justify-content: flex-end;
}

.wp-block-social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    gap: 2rem;
}

.wp-block-social-link-anchor svg {
    width: 60px !important;
    height: 60px !important;
}

.wp-block-social-links .wp-social-link.wp-block-social-link {
    background-color: var(--accent1);
}

.wp-block-social-links .wp-social-link.wp-block-social-link svg {
    fill: var(--tertiary);
}

/* FemArt Team Elements */

.fa-board-gallery.wp-block-gallery.has-nested-images {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10rem 5rem;
    justify-items: left;
}

@media all and (max-width: 1060px) {
    .fa-board-gallery.wp-block-gallery.has-nested-images {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 715px) {
    .fa-board-gallery.wp-block-gallery.has-nested-images {
        grid-template-columns: 1fr;
    }
}

.fa-board-gallery img {
    border-radius: var(--border-radius-md);
    aspect-ratio: 1;
}

.fa-board-gallery figure.wp-block-image {
    width: 100%;
    align-self: start;
    display: block !important;
}

.fa-board-gallery figcaption.wp-element-caption,
.fa-board-gallery.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
    position: relative;
    display: block;
    background: none;
    background-image: none;
    text-align: left;
    font-size: 2rem;
}

.fa-board-gallery.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) img {
    height: auto;
}

/* Events Table */

.fa-events-table table {
    background-color: var(--tertiary);
    border-color: transparent;
}

th {
    background-color: var(--accent1-hover);
    color: #000000;
}

table thead,
.wp-block-table thead {
    border-bottom: 0;
}

.fa-events-table td,
.fa-events-table th,
td,
th {
    border: 0;
}

tr:nth-of-type(even) {
    background-color: var(--tertiary-hover);
}

/* Misc Layout Elements */

.block-emphasis,
.fa-emphasis {
    background-color: var(--accent1);
    border-radius: var(--border-radius-lg);
    padding: var(--py) 7rem;
    color: #000000;
    margin: 0;
    overflow: hidden;
}

.fa-emphasis h2,
.fa-emphasis.wp-block-group.is-vertical h2 {
    margin-top: 0;
    padding: 0;
}

.fa-emphasis .wp-block-buttons {
    align-self: flex-start;
}

.fa-gallery-row {
    display: flex;
    flex-wrap: nowrap;
}

.fa-gallery-row>figure {
    flex: 1;
}

.fa-group-col {
    gap: 4rem;
}

/* Smaller Buttons */

.wp-block-button.btn-small .wp-block-button__link.wp-element-button {
    width: 50%;
}

/* Headings with a divider after them */

.fa-header-bottom-divider,
.fa-header-bottom-divider-center {
    width: 100%;
    max-width: 100%;
    position: relative;
    padding: 0;
}

body .fa-header-bottom-divider+* {
    margin-top: 2rem;
}

body .fa-header-bottom-divider-center+* {
    margin-top: 3rem;
}

.fa-header-bottom-divider::after,
.fa-header-bottom-divider-center::after {
    content: "";
    height: 6px;
    width: 150px;
    border-radius: 10px;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    bottom: -1.5rem;
}

.fa-header-bottom-divider-center::after {
    width: 20%;
    left: 40%;
    bottom: -0.8rem;
}

/* Donor Hub */
.donor-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.donor-gallery figure {
    max-width: 200px;
    display: inline-block;
}

.donor-gallery img {
    max-height: 100px;
    width: auto;
}

.donor-list-container,
.wp-block-group.is-vertical.donor-list-container {
    gap: 1rem;
}

.donor-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 0;
}

.donor-list li {
    display: block;
    padding: 0.5rem 1.25rem;
    background-color: var(--tertiary);
    border-radius: var(--border-radius-md);
}

/* WordPress Classes */

.wp-block-columns {
    margin: 0;
}

.wp-block-group.is-vertical {
    gap: 4rem;
    align-items: center !important;
}

.wp-block-group.is-vertical:not(.section-with-bg) h2 {
    margin-top: 2rem;
}

.wp-block-button {
    width: 100%;
}

.wp-block-button__link.wp-element-button,
.fa-emphasis-btn {
    position: relative;
    display: block;
    border-radius: var(--border-radius-sm);
    transition: .3s;
    background-color: var(--secondary);
}

.wp-block-button__link.wp-element-button::after {
    background-color: var(--secondary);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
}

.wp-block-button__link.wp-element-button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: #fff;
    transition: transform .3s;
    transform-origin: right top;
    transform: scale(0, 1);
}

.wp-block-button__link.wp-element-button:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}


.wp-block-button__link.wp-element-button:hover {
    background-color: var(--secondary-hover);
}

.wp-block-media-text__media {
    border-radius: var(--border-radius-md);
    overflow: hidden;
}

.wp-block-heading.has-medium-font-size {
    font-size: 4rem !important;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) {
    /* Board Gallery */
    align-self: flex-start;
}

/* Flex Group & Columns */

.wp-block-heading {
    padding: 0;
    margin: 0;
}

.fa-flex-group,
.fa-flex-group.is-layout-flex {
    display: flex;
    gap: 6rem;
    align-items: stretch;
    flex-flow: row wrap;
}

.fa-flex-group>* {
    flex: 1;
    gap: 0;
}

.is-layout-flex:not(.wp-block-social-links)>* {
    flex-wrap: wrap;
    /*     min-width: 290px; */
}

.wp-block-columns {
    flex-wrap: wrap !important;
}

/* Inner Caption */

.inner-caption,
.wp-block-gallery.has-nested-images.fa-gallery-row figure {
    position: relative;
}

.inner-caption figcaption,
.wp-block-gallery.has-nested-images.fa-gallery-row figure.wp-block-image figcaption {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: auto;
    z-index: 10;
    padding: 4px 12px;
    font-size: 1.5rem;
    margin: 0;
    background: none;
    width: fit-content;
    color: #000000;
    background-color: var(--accent1);
    border-radius: var(--border-radius-sm);
}

.wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
    width: 100% !important;
}

.wp-block-separator {
    border: 0;
    border-radius: var(--border-radius-md);
    background-color: var(--accent2);
    width: 80%;
    height: 5px;
}

/* Contact Form from Plugin */

input[type="submit"] {
    display: block;
    border-radius: var(--border-radius-sm);
    transition: .3s;
    background-color: var(--secondary);
    color: #ffffff;
    border: none;
    padding: 2rem;
    font-size: 2.5rem;
    font-family: var(--font-main);
    width: 50%;
    min-width: 250px;
}

input[type="text"]:not(.adminbar-input),
input[type="search"],
input[type="email"],
textarea {
    border-radius: var(--border-radius-md) !important;
    padding: 1rem !important;
    border: 4px solid var(--primary) !important;
    font-size: 2rem !important;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--secondary-hover);
}

/* Focus */

input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="submit"]:focus,
textarea:focus,
a:not(:has(button)):focus,
a button:focus {
    outline: 4px solid var(--focus-outline);
}

a:has(button):focus {
    outline: 0px;
}

a:not(:has(button)):focus {
    outline-offset: 4px;
}

#menu-item-50 a:focus {
    outline-offset: 0px;
}

/* Media Queries */

.burger-menu {
    display: none;
    background: none;
    color: var(--accent1);
    border: none;
    transition: 0.2s ease-in-out;
}

.burger-menu:hover {
    cursor: pointer;
    opacity: 0.7;
}

.burger-menu svg {
    width: 30px;
}

@media all and (max-width: 920px) {
    .burger-menu {
        display: block;
    }

    .nav.navbar-nav {
        flex-direction: column;
        height: 0;
        width: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        background-color: var(--background);
        gap: 0.5rem;
    }

    .nav.navbar-nav.visible-mobile-menu {
        padding: 2rem;
        height: auto;
    }

    nav li a:not(.btn)::after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        height: 4px;
        background: var(--primary);
        transform: scaleX(0);
        border-radius: 5px;
        margin-top: -2px;
        transition: transform var(--transition);
    }

    nav ul:not(.sub-menu) li a:not(.btn):hover::after {
        transform: scaleX(1);
    }

    .nav.navbar-nav ul.sub-menu {
        position: relative;
        transform: scaleY(1);
        background: none;
        box-shadow: none;
        color: #ffffff;
        transition: none;
    }

    .nav.navbar-nav ul.sub-menu a {
        color: var(--accent1-hover);
        display: inline;
    }

    .nav.navbar-nav ul.sub-menu a:hover {
        opacity: 0.7;
    }

    .nav.navbar-nav ul.sub-menu li {
        padding: 0.1rem 2rem;
        border: none;
    }

    .nav.navbar-nav ul.sub-menu li:hover {
        background: none;
    }

    .nav.navbar-nav li.menu-item-has-children:hover>ul.sub-menu {
        position: absolute;
        display: block;
        background-color: var(--accent1);
        color: #000000;
        list-style-type: none;
        padding: 0;
        margin-top: 0rem;
        border-radius: var(--border-radius-sm);
        transform: scaleY(1);
    }

    .nav.navbar-nav li.menu-item-has-children:hover>ul.sub-menu {
        position: relative;
        display: block;
        transform: scaleY(1);
        background: none;
    }

    ul.sub-menu {
        width: 20ch;
    }

    .wp-block-social-links {
        max-width: 100%;
    }
}

@media all and (max-width: 790px) {

    .fa-flex-group:not(.wp-block-social-links),
    .fa-flex-group.is-layout-flex:not(.wp-block-social-links),
    .is-layout-flex:not(.wp-block-social-links) {
        flex-direction: column;
    }

    .fa-accent-block.fa-accent-block-frontpage {
        width: 100%;
        margin-left: 0;
        border-radius: var(--border-radius-lg);
    }

    .hero-content>p {
        font-size: 3rem;
    }
}

@media all and (max-width: 625px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .hero-page h1 {
        font-size: 5rem;
    }
}

@media all and (max-width: 500px) {
    body {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    .hero {
        height: 300px;
    }

    .hero-content>p {
        font-size: 2rem;
    }

    .page-content-container {
        margin-top: 5rem;
        gap: 5rem;
    }

    .site-main .entry-content {
        gap: 5rem;
    }

    .wp-block-social-link-anchor {
        width: 50px;
        height: 50px;
    }

    .entry-content .section-with-bg>* {
        padding: 1rem 0;
    }
}

@media all and (max-width: 400px) {
    .hero-content>p {
        font-size: 1.6rem;
    }

    .wp-block-group .wp-block-columns {
        padding: 0;
    }
}

@media all and (max-width: 385px) {
    footer.page-footer {
        padding: 40px;
    }

    .wp-block-social-link-anchor {
        width: 40px;
        height: 40px;
    }

    iframe {
        max-width: 100% !important;
        overflow: hidden;
    }
}